.env
.env.*
/vendor
/node_modules
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php
docker-compose.yml
Dockerfile.*
*.log
*.tmp
.git
.gitignore
.github
tests





