.env
.env.*
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
docker-compose.yml
docker/
.git
.gitignore
.github
npm-debug.log
yarn-error.log
pnpm-debug.log


